body{margin: 0px}
*{
    box-sizing: border-box;
    cursor: default;
}


.container-1{
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fbr.freepik.com%2Ffotos-vetores-gratis%2Ffundo-azul&psig=AOvVaw1cujflZm5IHCQLVT80ydt1&ust=1633068946947000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCNiq5oeGpvMCFQAAAAAdAAAAABAD");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    display: column;
    position: absolute;
    width: auto;
    height: 100;
   
}

.titulo-comando{
    text-align: center; 
    width: 216vh;
    box-sizing: border-box;
    border-radius: 6px;
    margin-bottom: 40px;
    background:  rgba(0, 17, 49, 0.856);
    border: 6px solid rgba(15, 109, 210, 0.8);
    box-sizing: border-box;
    border-radius: 6px;
    height: 39vh;

}

img{
    text-align: center;
}

.comandos{
    text-align:left; 
    display: flex;
}

button{
    background-color: #ffffff;
    border: 4px solid rgba(15, 109, 210, 0.8);
    border-radius: 40px;
    margin: 4px;
    height: 6vh;
    width: 10vw;
}

.usuario{
    display: flex;
    
}

.titulo-usuario{
    margin-left: 10vh;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.parte1-U{
    display: flex;
    flex-direction: column;
    padding: 40px;
    font-size: 20px;
}

a{
    color: black;
    text-decoration: none;
}

.parte1-U :hover{
    text-decoration: underline;
}

.parte2-U :hover{
    text-decoration: underline;
}

.parte2-U{
    display: flex;
    flex-direction: column;
    padding: 40px; 
    font-size: 20px;
    font-weight: bolder #ffffff ;
    color: #042127;
}


.titulo-adm{
    margin-left: 10vh;
    font-size: 30px;
    color: rgb(255, 255, 255);
}
.parte1-A{
    display: flex;
    flex-direction: column;
    margin-left: 20vh;
    padding: 0px 200px; 
    font-size: 20px;
    font-weight: bolder #ffffff ;
    color: #042127;
}

.parte1-A :hover{
    text-decoration: underline;
}


