.Container{

}

.f1-Container{

}

.Logo{

}

 BODY{

}

.Cabecalho{

}

.f1-cabecalho{

}

.f1-inicio{
    margin-top: -130px;
    word-spacing: 40px;
    text-align: center; 
    color: #FFFFFF;
}

.f1-conta{
    margin-left: 1120px;
    margin-top: -30px;
    color: #FFFFFF;
}

.f1-minha-conta{

}


.Titulo{

}

.f1-logo-titulo{

}

.TuriSpace{
    text-align: center;
    margin-top: -140px;
    margin-left: -80px;
}

.Pacote{
    font-size: 42px;
    line-height: 51px;
    text-align: center; 
    color: #17324A;
}

.Faixa {
    background-color:rgba(0, 5, 32, 0.85);
    width:1350px;
    height:137px;
    margin-top: 18px;
    margin-left: -10px;
}

.Faixa span{
    font-size: 55px;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 67px;

    position:absolute;
    left:28%;
    margin-top: 30px;
} 

.Conteudo{

}

.f1-Conteudo{

}

.Faixa-2{
    background-color:rgba(0, 5, 9, 0.85);
    width: 540px;
    height:370px;
    border-radius: 20px;
    margin-top: 40px;
}

.Faixa-2 img{
    margin-left: -327px;
    margin-top: -120px;
}


.Faixa-2 span{
    position: absolute;
    width: 221px;
    height: 57px;
    left: 350px;
    top: 750px;
}

.Faixa-3{
    background-color:rgba(0, 5, 32, 0.85);
    width: 540px;
    height:370px;
    border-radius: 20px;
    margin-top: -408px;
    float:right;
}

.Faixa-3 span{
    position: absolute;
    width: 221px;
    height: 57px;
    left: 1136px;
    top: 750px;
}

.Faixa-3 img{
    margin-left: -320px;
    margin-top: -120px;
}

.barra img{
    margin-top: -100px;
    margin-left: -200px;
    margin-right: -900px;
}


.Faixa-4{
    background-color:rgba(0, 5, 9, 0.85);
    width: 540px;
    height:370px;
    border-radius: 20px;
    margin-top: 40px;
}

.Faixa-4 img{
    margin-left: -327px;
    margin-top: -0px;
}


.Faixa-4 span{
    position: absolute;
    width: 221px;
    height: 57px;
    left: 350px;
    top: 1034px;
}

.Faixa-5{
    background-color:rgba(0, 5, 32, 0.85);
    width: 540px;
    height:370px;
    border-radius: 20px;
    margin-top: -410px;
    float:right;
}

.Faixa-5 img{
    margin-left: -320px;
    margin-top: -0px;
}


.Faixa-5 span{
    position: absolute;
    width: 221px;
    height: 57px;
    left: 1136px;
    top: 1034px;
}

.Faixa-6{
    background-color:rgba(0, 5, 32, 0.85);
    width: 540px;
    height:370px;
    border-radius: 20px;
    margin-top: -372px;
    float:right;
}